.home {
	display: grid;
	gap: 16px;
	align-items: center;
}

.img {
	display: block;
	border-radius: 8px;
	width: 400px;
	height: 400px;

	&_hidden {
		display: none;
	}
}

.loading {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 400px;
	height: 400px;
}

.actions {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 1fr 1fr;
	gap: 8px;
}
