$light-blue: #6b89ea;
$dark-blue: #425182;
$color-border: #eef0f1;

.layout {
  background-color: #f9fafb;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
